{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Home
{% endblock %}


{% block main %}

    <div class="container d-flex h-100">
        <div class="row align-self-center w-100">
            <div class="col-8 mx-auto">
                <div class="card">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'patient_login' %}">Patients</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="{% url 'doctor_login' %}">Doctors</a>
                            </li>
                        </ul>
                    </div>
                    <div class="card-body">
                        <div class="container text-center mt-3">
                            <h1 class="display-4 mb-0">
                                Doctors
                            </h1>
                            <p class="lead">Connect with your patients.</p>
                        </div>
                    </div>
                    <hr class="col-8 mx-auto mt-0">
                    <div class="row mb-5">
                        <!-- Log in display -->
                        <div class="col">
                            <div class="container col-8">
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <button type="submit" class="btn btn-success">Log in</button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}