{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}


{% block main %}

    <div class="container d-flex h-100">
        <div class="row align-self-center w-100">
            <div class="col-10 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="container text-center mt-3">
                            <h1 class="display-4 mb-0">
                                Medical Records
                            </h1>
                            <p class="lead">Connect with your provider.</p>
                        </div>
                    </div>
                    <hr class="col-8 mx-auto mt-0">
                    <div class="row">

                        <!-- Patient Log in -->
                        <div class="col">
                             {{ form.as_p }}
                        </div>

                        <!-- Doctor Log in -->
                        <div class="col">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}